---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import IconTwitter from '../components/icons/IconTwitter.astro';
import IconTikTok from '../components/icons/IconTikTok.astro'
import IconTwitch from '../components/icons/IconTwitch.astro'
import SearchBar from '../components/searchBar/searchBar.astro'
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<meta name="view-transition" content="same-origin" />
	</head>
	<body id="body">
		<a class="hiddenTab" aria-label="Regresa a la página de inicio" href="/">Ir al inicio</a>
		<Header />
		<main>
			<h1>Desarrollo web y diseño UI UX</h1>
			<span>Blog destinado a mis apuntes y aprendizajes, más contenido en mis redes.</span>
			<div class="social">
				<a href="https://twitter.com/casvaru" target="_blank"><IconTwitter/></a>
				<a href="https://www.tiktok.com/@casvaru" target="_blank"><IconTikTok/></a>
				<a href="https://www.twitch.tv/casvaru" target="_blank"><IconTwitch/></a>
			</div>
			<div class="containerSearch">
				<SearchBar />
			</div>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
								<p>{post.data.description}</p>
								<span>{post.data.timeToRead} minutos de lectura</span>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
	<script>
		import dialogPolyfill from 'dialog-polyfill'
    var dialog = document.querySelector('dialog');
    dialogPolyfill.registerDialog(dialog);
    // Now dialog always acts like a native <dialog>.
    dialog.showModal();
  </script>
</html>
<style>
	main{
		margin-top: 75px;
	}
	h1{
		text-align: center;
		padding: 10px 0px 10px 0px;
		font-size: 2.6rem;
	}
	span{
		display: flex;
		justify-content: center;
		text-align: center;
		font-style: italic;
		color: #a8a8a8;
	}
	.social{
		display: flex;
		justify-content: center;
		place-content: center;
		padding: 20px 0px 40px 0px;
		gap: 10px;
	}
	.social a:hover{
		opacity: .5;
	}
	section{
		display: flex;
	}
	ul {
		display: flex;
		flex-direction: column-reverse;
		list-style-type: none;
		padding: unset;
	}
	ul li {
		display: flex;
		flex-direction: column;
		padding: 20px 0px;
		border-bottom: 1px solid rgb(168, 168, 168);
		transition: .1s ease-out;
	}
	ul li :global(time) {
		flex: 0;
		font-style: italic;
		color: #a1a1a1;
	}
	ul li a:link{
		position: relative;
		font-size: 1.1rem;
		transition: .1s ease-out;
		color: #ffbb00;
	}
	ul li a:active{
		color: rgb(255, 0, 191) !important;
	}
	ul li a:hover{
		opacity: .7;
		transition: .2s ease-in;
		color: none !important;
	}
	ul li a:visited{
		color: #fff0af;
	}
	ul li p{
		padding: 5px 0px;
		font-size: .9rem;
	}
	ul li span{
		color: white;
	}
</style>
