---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author, timeToRead, id } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<header class="headerArticle">
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				<h4>{author}</h4>
				<h5>{timeToRead} minutos de lectura</h5>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				</header>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
<style>
	main{
		margin-top: 75px;
	}
	.headerArticle{
		padding: 0px 0px 50px 0px;
	}
	h1{
		text-align: center;
		font-size: 1.5rem;
		line-height: 30px;
		padding: 30px 0px;
	}
	.title {
		font-size: 2em;
		margin: 0.25em 0 0;
	}
	.last-updated-on {
		font-style: italic;
	}
	h5{
		font-style: italic;
		font-weight: normal;
		font-size: 1rem;
	}
</style>
